<h1><%= @parks.size %> Results</h1>
<% @parks.each do |park| %>
  <section class='park'>
    <h2 class='name'><%= park.name %></h2>
    <ul>
      <li class='description'><%= park.description %></li>
      <li class='directions'><%= park.directions %></li>
      <li class='hours'><%= park.hours %></li>
    </ul>
  </section>
<% end %>
